---
layout: default
---
<section class="homebg">

  <div class="wrapper-content homepage">

    <div class="page-col">
        <div class="mascot"></div>
        <h1>{{ page.call }}</h1>
        <h2>{{ content }}</h2>
    </div>
  </div>
</section>


  <div class="section-plc section-diagram">

    <div class="wrapper-content">
        <h1> El ciclo de vida de un producto</h1>
        <h2> consta esencialmente de 3 etapas</h2>

      <div class="plc-container">

        <div class="bg-flow-plc"></div>
        <div class="build-steps-container">
          <p class="build-step-1 build-steps">Descubrimiento del producto</p>
          <p class="build-step-2 build-steps">Construcción (o desarrollo)</p>
          <p class="build-step-3 build-steps">Medición de resultados</p>
        </div> 


    </div>
  </div>


  <div class="section-uxcase section-diagram">

    <div class="wrapper-content">
        <h1> ...al igual que un caso de estudio</h1>
        <h2> puede ser elaborado en 3 etapas</h2>

      <div class="case-container">

        <div class="bg-flow-case"></div>
        <div class="build-steps-container">
          <p class="build-step-1 build-steps">Entender el problema</p>
          <p class="build-step-2 build-steps">Trabajar una propuesta</p>
          <p class="build-step-3 build-steps">Medir su efectividad</p>
        </div> 
      </div>

    </div>

  </div>
</div>

  <div class="wrapper-content">
    <h1 class="text-center">Las <u>preguntas clave</u> que determinan esas etapas son:</h1>

    <div class="hightLights">

      <div class="flex flex--columns-2-large flex--middle">

        <div class="flex flex--middle flex--center cell">
          <div class="rocket"></div>
          <h1>El '¿Qué?'</h1> <span class="arrow">&#8594;</span>

        </div>
        <div class="highlightModule__body cell">


          <h2 class="highlightModule__header">¿Qué queremos lograr?</h2>
          <div class="normalize highlightModule__bodyCopy margin--top-3">
            <p>Primero, es fundamental entender <b>qué problema</b> queremos resolver y <b>qué objetivos</b> buscamos alcanzar con ello. Ambas determinaciones sustentan todo el proceso de diseño.</p>

            <p>Durante esta etapa, se realizan 2 tipos de tarea:</p>
              <ul>
                <li>De investigación</li>
                <li>De diseño</li>
              </ul>  
          </div>

        </div>
      </div>



      <div class="flex flex--columns-2-large flex--middle">
        <div class="flex flex--middle flex--center cell">
          <div class="plan"></div>
          <h1> El '¿Cómo?'</h1> <span class="arrow">&#8594;</span>

        </div>

        <div class="highlightModule__body cell">


          <h2 class="highlightModule__header">¿Cómo lo haremos?</h2>
          <div class="normalize highlightModule__bodyCopy margin--top-3">
            <p>Con la problemática declarada y los objetivos trazados, definiremos <b>cómo construir</b> una solución que genere el mayor valor posible para el usuario, valiéndonos de nuestros recursos disponibles. Estas variables determinan el esfuerzo requerido y sus posibilidades de éxito.</p>
          </div>

            <p>Durante esta etapa, se realizan 2 tipos de tarea:</p>
              <ul>
                <li>De optimización</li>
                <li>De desarrollo</li>
              </ul>  

        </div>
      </div>


      <div class="flex flex--columns-2-large flex--middle">
        <div class="flex flex--middle flex--center cell">
          <div class="metrics"></div>
          <h1>El '¿Cúanto?'</h1> <span class="arrow">&#8594;</span>
        </div>
        <div class="highlightModule__body cell">

          <h2 class="highlightModule__header">¿Cuánto hemos logrado?</h2>
          <div class="normalize highlightModule__bodyCopy margin--top-3">
            <p>Con nuestra solución desplegada, podremos responder nuestra pregunta inicial sobre <b>cuánto</b> de nuestro plan de objetivos iniciales fue alcanzado y elaborar conclusiones, así como redefinir nuevos objetivos.</p>
          </div>
            <p>Durante esta etapa, se realizan 2 tipos de tarea:</p>
              <ul>
                <li>De despliegue</li>
                <li>De validación</li>
              </ul>  

        </div>
      </div>
      <!--       <div class="spacer"></div>-->    
    </div>

  </div>

  <div class="section-diagram">
    <div class="wrapper-content">
      <h1 class="text-center">¿Cuál es el <u>sentido</u> de todo esto?</h1>
      <br>
      <ul class="benefits">
        <li>Elaborar un hilo conductor de trabajo nos mantiene alineados con los objetivos</li>
        <li>Exponer el proceso como historia ayuda a una mejor comprensión del mismo</li>
        <li>Generar un mapa mental es útil para entender en que punto estamos y a dónde queremos llegar</li>
        <li>Desarrollar visión holística de la problemática para establecer mejores conexiones con el entorno</li>
        <li>Mantener una participación activa de diseño: Antes, durante y después de la etapa de desarrollo</li>
        <li>Documentar el proceso en base a una estructura pre establecida de trabajo</li>
      </ul>  
    </div>
  </div>
</div>



<!-- Este content, está en index.md -->


